</main>
<footer>
    <div class="footer_quote_line">
        <p>Quote for Today: Lorem it amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis
            aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            Some description "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te
        </p>
    </div>

    <div class="footer_grid">
        <a href="#">About us</a>
        <a href="#">Contact us</a>
        <a href="#">Lorem</a>
    </div>

    <div class="footer_grid">
        <a href="#">Github</a>
        <a href="#">LinkedIn</a>
        <a href="#">Lorem</a>
    </div>

    <div class="footer_powered_by">
        <p>© 2024 Powered by Michal K. All rights reserved.</p>
    </div>
</footer>

</body>

</html>

<script>
    jQuery(function ($) {
        // - menu actions
        // Hide menu once user click anywhere outside menu.
        $(".container_content").click(function () {
            if ($(".hamburger-menu-items").is(":visible")) {
                $(".hamburger-menu-items").slideUp();
            }
        });

        // Show / Hide menu on hamburger click
        $(".hamburger-button").click(function () {
            $(".hamburger-menu-items").slideToggle();
        });
    });
</script>