<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css"/>

    <title>SlowFinance</title>
</head>

<body>
    <header>

        <div class="container_menu">
            <a href="#">Home</a>
            <a href="#"></a>
            <a href="#">Add expense</a>
            <a href="#">Expense List</a>
        </div>
    </header>

    <!-- todo: rename div to main -->
    <main class="container_content">