<%- include("partials/header.ejs") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <h1>Important page title. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </h1>

    <h2>Some description "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum</h2>


    <div class="container_introduction">
        <h3>lorem ipsum <a href="#">lorem ipsum</a></h3>
    </div>

    <div class="content_options_actions_flex_container">
        <button>Lorem 1</button>
        <button>Lorem 2</button>
        <button>Lorem 3</button>
        <button>Lorem 4</button>
        <button>Lorem 5</button>

    </div>


    <table>
        <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
        </tr>
    </table>

    <div class="content_options_actions_flex_container">
        <button>lorem ipsum</button>
    </div>

    <div class="content_options_end_notes">
        <h4>Some lorem ipsum</h4>
    </div>

    <%- include("partials/footer.ejs") %>