 /* All devices */
 html {
     /* 16px = 1rem (base). For all devices. */
     font-size: 16px;

     /* margins for whole site for all devices */
     margin-left: 5px;
     margin-right: 5px;
 }

 .container_content>h2,
 h3 {
     text-align: center;
 }

 h1 {
     font-size: 1.9rem;
 }

 h2 {
     font-size: 1.6rem;
 }

 h3 {
     font-size: 1.3rem;
 }

 h4 {
     font-size: 1.1rem;
 }

 button{
    font-size: 0.9rem;
 }

 td {
    font-size: 1.0rem;
 }
 /* Footer */

 footer {
     padding-top: 60px;
 }

 .footer_grid {
     display: flex;
     justify-content: space-around;
     padding-bottom: 15px;
     padding-top: 25px;
 }

 .footer_powered_by {
     display: flex;
     justify-content: center;
 }

 /* general page margins  */
 .container_content>h1,
 p {
     padding-left: 15px;
     padding-right: 15px;
     margin-top: 40px;
 }

 .container_introduction {
     margin-top: 80px;
 }

 .content_options_actions_flex_container {
     display: flex;
     padding-bottom: 50px;
     justify-content: space-around;
 }


 /* Mobile Devices */
 @media only screen and (max-width: 1200px) {

     /* Hide big menu on small devices. */
     .container_menu {
         display: none !important;
     }

     /* Display hamburger menu as columns */
     .hamburger-menu-items {
         font-size: 2.3rem;
         display: flex;
         flex-direction: column;
         gap: 20px;
     }

     .hamburger-button {
         font-size: 3rem;
     }
 }

 /* Larger devices */
 @media only screen and (min-width: 1200px) {

     /* hide hamburger menu on large devices */
     .hamburger-menu {
         display: none !important;
     }

     /* menu */
     .container_menu {
         display: flex;
     }

     /* Keep specific menu items at right */
     .container_menu> :nth-child(2) {
         margin-right: auto;
     }

     .container_menu>a {
         padding: 10px;
     }

 }